html {
    border-style: solid;
    border-width: 0.5vw;
    background-color: rgb(34, 37, 39);
    font-family: Audiowide;
}

#title {
    cursor: default;
    color: rgba(0, 255, 255, 0.67);
    font-weight: 700;
    font-size: 2vw;
    float: left;
    padding-left: 3vw;
}

.grid {
    float: left;
    background-color: white;
    width: 92.5vw;
    height: 35vw;
    margin-left: 3vw;
    top: 13%;
    border-color: white;
    border-width: 0.8vw;
    border-style: solid;
    border-radius: 1.5vw;
    box-sizing: border-box;
}

.control-panel {
    float: right;
    box-sizing: border-box;
    width: 30vw;
    height: 3vw;
    margin-top: 0.8vw;
    margin-right: 2.5vw;
}

.legend {
    float: right;
    box-sizing: border-box;
    width: 80vw;
    height: 4vw;
    margin-top: 0.8vw;
    margin-right: 3vw;
}

.DD {
    float: right;
    cursor: default;
    height: inherit;
    text-align: center;
    background-color: inherit;
    color: rgba(0, 255, 255, 0.67);
    border-radius: 1.3vw;
    font-family: Audiowide;
    font-weight: 700;
    font-size: 2vw;
    padding-top: 0.5vw;
    box-sizing: border-box;
}

.DD:hover{
    background-color: rgb(69, 74, 78);
}

#build{
    width: 10vw;
}

#solve{
    margin-left: 2vw;
    width: 10vw;
}

#help {
    margin-left: 2vw;
    width: 4vw;
    font-size: 2vw;
}

.DDBtn {
    cursor: pointer;
    display: none;
    position: relative;
    background-color: inherit;
    border: none;
    width: 10vw;
    z-index: 1;
    padding: 1vw 0.5vw;
    font: inherit;
    font-size: 1.5vw;
  }

  #help .DDBtn {
    min-width: 8vw;
    transform: translateX(-5.9vw);
  }
  
  button.DD  {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  .DD:hover .DDBtn {
    display: block;
}

.DDBtn:hover {
    background-color: rgb(24, 24, 24);
    color: rgb(0, 255, 255, 0.8);
    font-size: 1.6vw;
}

.DDBtn:active {
    transform: translateY(0.2vw);
}

.legend-element {
    cursor: default;
    float: right;
    font-size: 1.6vw;
    padding-top: 0.8vw;
    padding-right: 2vw;
    color: rgba(0, 255, 255, 0.67);
}

#end-element {
    padding-right: 0vw;
}

.symbol-border {
    float: left;
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.5vw;
}

.symbol {
    width: inherit;
    height: inherit;
    border-radius: 0.5vw;
}

.node {
    width: 2vw;
    height: 2vw;
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
    float: left;
    border-radius: 0.3vw;
}

.node:hover {
    cursor: pointer;
}

@keyframes waves {
    from {background-color: red;}
    to {background-color: rgb(80, 0, 0);}
}