.main-page {
    font-size: 1vw;
}

.grid {
    background-color: rgba(255, 255, 255, 0.4);
    width: 61.5vw;
    height: 37vw;
    left: 34%;
    position: absolute;
    border-color: black;
    border-width: 0.8vw;
    border-style: solid;
    box-sizing: border-box;
}

.control-panel {
    border-color: black;
    border-width: 0.8vw;
    border-style: solid;
    border-radius: 2vw;
    box-sizing: border-box;
    position: absolute;
    left: 4%;
    width: 26.5vw;
    height: 37vw;
    float: left;
}